
.simagebox{
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    width: 100%;
    align-items: center;
}
.containerbox{
    width: 100%;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    align-content: center;
    max-height: 1000px;
    background-color: rgb(255, 255, 255);
}
.imageHeader{
    position: relative;
    padding: 16px 64px 16px 16px;
    text-align: center;
    font-size: 26px;
    color: #000000;
    // background-color: #000000;
    font-weight: 700;
}
.modalsection{
    margin-left: 10%;
    margin-right: 10%;
    margin: auto;
    
    border-radius: 0.1rem;
    max-height: 900px;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 1s;
    overflow: scroll;
}
.footer{
padding: 12px 16px;
text-align: right;
}
.footerbtn{
    align-items: center;
    color: #fff;
    background-color: #000000;
    border-radius: 5px;
    font-size: 13px;
}