.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  
  border-radius: 0.5rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  /* animation: modal-show 0.3s; */
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  margin: 1px;
  
  border-radius: 0.5rem;
  padding: 16px 64px 16px 16px;
  background-color: hsl(0, 100%, 100%);
  font-weight: 700;
}

.modal > section > header button {
  position: absolute;
  top: 10%;
  right: 16px;
  width: 30px;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 2px 2px;
  text-align: right;
  
}
.modal > section > footer button {
  padding: 6px 12px;
  width: 100px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  background-color: #dee2e6;
  font-size: 20px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  /* animation: modal-bg-show 0.3s; */
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}