.stage-cube-cont {
  width: 50%;
  height: 100%;
  
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.container2 {
  display: grid;
  grid-template-columns: 2fr 7fr;
  color: #ffffff;
  //background-color: #5ed4f7;
  width: 100%;
  padding-left: 20px;
  .day{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .major{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.springy-text {
  color: #ffd700;
  animation-name: springy-text;
  animation-duration: 2.3s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes springy-text {
0%   {
  letter-spacing: 0.7em;
  opacity: 0;
  color: white;
  }
100%   {
  letter-spacing: 0.0em;
  opacity: 1;
  color: #ffd700;
  }
}
.upgrade{
  color:#f5ae44;
  font-size: 26px;
  font-weight: 800;
}
.upgrade2{
  color:#ff6c6c;
  font-size: 26px;
  font-weight: 800;
}
.upgrade3{
  color:#ffeabe;
  font-size: 26px;
  font-weight: 800;
}
.introduce{
  padding-left: 20px;
  height: 1000px;
  padding-right: 30px;
  font-size: 20px;
}
// .introduce::-webkit-scrollbar {
//   display: none;
// }
.education {
padding-left: 20px;
  color: #ffd700;
  margin-left: 0;
  //padding-left: 2px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #e6d349f8;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #5162ff;
    font-weight: 700;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
